                                    ------
                                    Standalone Application
                                    ------
                                    The Apache Onami developers team
                                    ------
                                     2014

~~
~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.
~~

Standalone Application

* java code

+--------------------------------------+
public static void main( String[] args )
{

    final PersistenceModule persistenceModule = new PersistenceModule()
    {

        @Override
        protected void configurePersistence()
        {
            bindApplicationManagedPersistenceUnit( "puName" );
        }

    };

    final Injector injector = Guice.createInjector( persistenceModule, getApplicationSpecificModules() );

    final PersistenceService persistenceService = injector.getInstance( PersistenceService.class );

    try
    {
        persistenceService.start();

        while( notTerminated() )
        {
            // run application
        }
    }
    finally
    {
        persistenceService.stop();
    }
}
+--------------------------------------+

* persistence.xml

+--------------------------------------+
<persistence
    xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                        http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
    version="2.0">

    <persistence-unit name="puName" transaction-type="RESOURCE_LOCAL">
        <!-- your configuration -->
    </peristence-unit>

</peristence>
+--------------------------------------+

* Structure of the .jar

+--------------------------------------+
+ app.jar
|    + META-INF
|    |    + MANIFEST.MF
|    |    + persistence.xml
|    + foo
|    |    + bar
|    |    |    + Main.class
|    |    |    + App.class
+--------------------------------------+
